.container
  .jumbotron.col-sm-8.col-sm-offset-2
    h1 React Fizz Buzz
    p Counting incrementally, any number divisable by 3 is replaced by the word "fizz", and any number divisible by five with the word "buzz".
    p
      a(href="https://en.wikipedia.org/wiki/Fizz_buzz" role="button").btn.btn-primary.btn-lg Learn more
  #app